body{
    text-align: center;
   background-color:black ;
}
#board{
    margin-top: 10vh;
    border: 1.5px solid rgb(28, 241, 28);
}
#score{
    color: rgb(42, 227, 42);
    font-size: 4vmin;
    font-family: 'Courier New', Courier, monospace;
   
}
#data{
    width: 12vw;
    height: 15vh;
    border: 2.3px dashed rgb(36, 231, 36);
    margin-left: auto;
    margin-top: -70vh;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#hiscore{
    color:rgb(42, 227, 42) ;
    font-size: 4vmin;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -2px;
}

